/* common style */
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.primary-btn {
    background-color: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}


/* header styles */
header {
    background-color: #FCEEF1;
    margin-bottom: 150px;
}

header h1 {
    font-size: 80px;
    color: 272727;
    margin-bottom: 32px;
    font-weight: 800;
}

p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 32px;
    line-height: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.beautiful-flower {
    display: flex;
    align-items: center;
}



/* featured flower style */
.featured-section {
    margin-bottom: 150px;
}

.featured-flowers {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.featured-flowers,
h2 {
    font-size: 40px;
    color: #272727;
    margin-bottom: 24px;
    font-weight: 800;
}

.featured-flowes-boxes {
    display: flex;
    gap: 24px;
}

.featured-flowes-boxes .box {
    height: 538px;
    width: 400px;
    border-radius: 50% 50% 0 0;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom center;
}

.featured-flowes-boxes .box p {
    text-align: center;
    color: #272727;
    text-decoration: underline;
    font-weight: 700;
    margin-top: 570px;
}

.featured-flowes-boxes .box1 {
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url('./images/pngwing\ 6.png');

}

.featured-flowes-boxes .box2 {
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url('./images/pngwing\ 5.png');

}

.featured-flowes-boxes .box3 {
    background-color: rgba(71, 125, 17, 0.15);
    background-image: url('./images/pngwing\ 7.png');
}


/* hot deal section */
#hot-deal {
    background-color: #FEF6F8;
    margin-bottom: 150px;
}

.deal {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.deal-box {
    padding-right: 200px;
}

.deal-box h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.highlight-text {
    color: #E55473;
}


/* instagram styles */
.instagram {
    margin-bottom: 150px;
}

.instagram-box {
    display: flex;
    gap: 24px;
}

.instagram-box .box img {
    width: 100%;
}

.instagram-content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.instagram-content h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}


/* latest deals styles */
.latest-deals {
    min-height: 449px;
    background-image: url('./images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;
    text-align: center;
    border-radius: 8px;
}

.latest-deals-box {
    padding: 122px 0;
}

.latest-deals-box h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.subs-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.subs-box input {
    width: 50%;
    border: 0;
    border-radius: 8px;
    padding: 22px;
}


/* footer styles */
footer {
    background-color: #111010;
    min-height: 449px;
    display: flex;
    align-items: center;
}

.footer-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.footer-container h3 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-container p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
}

.footer-container small {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
}


/* extra section  */
.extra-section {
    margin-bottom: 150px;
}

.extra-section h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 54px;
    text-align: center;
}

.flower-box {
    display: flex;
    text-align: justify;
    gap: 26px;
}

.flower-box h5 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #E55473;
}

.flower-box .box {
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 8px;
}

.flower-box .box:hover {
    background-color: #272727;
}

.flower-box .box:hover p {
    color: white;
    transition: all 2s ease;
}